$primary-color: #3C2D3D;
$secondary-color: #00CECF;
$tertiary-color: #006E8C;
$primary-text-color: #F1F6F7;
$font-stack: 'Inter', sans-serif;

body{
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{
    background-color: $tertiary-color;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
    .logo{
        padding-left: 30px;
        background: none;
        border-style: none;

        img{
            width: auto;
            max-height: 60px;
        }
    }

    // .section-buttons{
    //     display: flex;
    //     padding-right: 30px;
    //     gap: 20px;
        
    //     button{
    //         background: none;
    //         border-style: none;
    //         color: $primary-text-color;
    //     }
    // }
}

main{
    article{
        background-color: $primary-color;
        background-image: url("../assets/img/keyart.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        padding-top: 360px;
        padding-bottom: 360px;
        padding-left: 100px;
    }
}

footer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: $primary-color;
    width: 100%;
    height: auto;
}